.ant-dropdown .ant-dropdown-menu,
.ant-dropdown-menu-submenu .ant-dropdown-menu {
  background-color: #c7c7c7 !important;
  max-width: 70px !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
  padding: 0 !important;
  font-size: 8px !important;
  color: #717171 !important;
}

.ant-select-selector {
  height: 40px !important;
  padding: 0 20px !important;
  display: flex;
  align-items: center;
  color: #fff !important;
  background: #2a2d32 !important;
  border-color: #3599ea !important;
}
.ant-select-open .ant-select-selection-item,
.ant-select-dropdown,
.ant-select-dropdown .ant-select-item {
  color: #fff !important;
}
.ant-select-dropdown {
  background: #262323 !important;
  flex-direction: column !important;
  align-items: center !important;
  border: 1px solid #3491db;
  width: 100px !important;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: transparent !important;
  color: #3599ea !important;
  font-weight: 400 !important;
}
.ant-select-dropdown .ant-select-item {
  min-height: 24px !important;
  height: 24px !important;
  padding: 0 4px !important;
  display: flex;
  justify-content: center !important;
  text-align: center !important;
  width: 100% !important;
}

.ant-switch.ant-switch-checked {
  background: #3491db !important;
}
.ant-switch {
  background: #2a2d32 !important;
}
.ant-drawer-header {
  display: none !important;
}
.ant-drawer-content {
  border-radius: 24px 24px 0 0 !important;
  border-top: 2px solid #3599ea;
  border-left: 1px solid #3599ea;
  border-right: 1px solid #3599ea;
}

.swap {
  background-color: #c7c7c7;
  font-size: 8px;
  color: #717171;
  padding: 4px;
  border-radius: 8px;
}
