@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.level-card {
  border: 8px solid transparent;
  border-radius: 20px;
  width: 180px;
  height: 180px;
  padding: 16px;
}
.blur {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
   will-change: filter;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(80px);
  position: absolute;
  top: 0;
  z-index: 1;
  will-change: filter;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffffa3 !important;
  top: 125px !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24px !important;
}
.swiper-button-next {
  right: 25px !important;
}
.swiper-button-prev {
  right: 25px !important;
}
.ant-drawer .ant-drawer-body {
  background: rgba(199, 199, 199, 0.2) !important;
}
@keyframes likeBounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.animate-like {
  animation: likeBounce 0.3s ease;
}
.swap-drawer.ant-drawer-content {
  background: #2c2f35 !important;
}
